

#wordleBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.wordle-row {
    display: flex;
    gap: 5px;
}



/* .active-row .cell {
    border: 2px solid #007bff;
} */

.active-cell {
    border: 2px solid #ff5722;
}

.cell:focus {
    outline: none;
}

@keyframes rotateX {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

@keyframes rotateXReverse {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-360deg); /* Reverse direction */
    }
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
    transition: background-color 0.3s ease;
    perspective: 1000px; /* Enable 3D effect for child elements */
}

.cell.rotate-animation {
    animation: rotateX 0.5s linear forwards;
}

.cell.rotate-animation-reverse {
    animation: rotateXReverse 0.5s linear forwards;
}



